* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
body {
  background-color: #e9e9e9;
}
.header {
  display: flex;
  font-family: Inter;
  font-weight: 700;
  gap: auto;
  margin: 20px 50px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav {
  display: flex;
  padding: 20px 30px;
  align-items: flex-start;
  gap: 20px;
  border-radius: 32px;
  background-color: #ffff;
  text-transform: uppercase;
}
.Contact {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  border-radius: 32px;
}
.language {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background-color: #ffff;
}

.icone {
  display: flex;
  flex-direction: row;
}
